body {
  padding: 40px;
  background-color: #f7fcfc;
}
input {
    background-color: #f7fcfc;
    color: blue;
    width: 15%;
    padding: 3px;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: blue;
    color: white;
    width: 10%;
}
